{
  "openapi": "3.1.0",
  "info": {
    "title": "photoo.lu API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.photoo.lu"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "photoo_session",
        "description": "Session cookie used by the web app"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer session token used by mobile apps"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          }
        },
        "required": [
          "status"
        ],
        "additionalProperties": false
      },
      "ReadyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "checks": {
            "type": "object",
            "properties": {
              "database": {
                "type": "string",
                "enum": [
                  "ok"
                ]
              },
              "redis": {
                "type": "string",
                "enum": [
                  "ok"
                ]
              }
            },
            "required": [
              "database",
              "redis"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "status",
          "checks"
        ],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "VALIDATION_ERROR"
          },
          "message": {
            "type": "string",
            "example": "Request validation failed"
          },
          "details": {},
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        },
        "required": [
          "code",
          "message",
          "requestId"
        ],
        "additionalProperties": false
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "client@example.com"
          },
          "emailVerifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "locale": {
            "type": "string",
            "enum": [
              "en",
              "fr",
              "de",
              "pt",
              "es"
            ],
            "description": "BCP 47 locale",
            "example": "en"
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "client",
                "photographer",
                "professional",
                "admin"
              ]
            },
            "minItems": 1,
            "example": [
              "client"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "deleted"
            ]
          },
          "twoFactorEnabled": {
            "type": "boolean"
          },
          "lastLoginAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerifiedAt",
          "locale",
          "country",
          "roles",
          "status",
          "twoFactorEnabled",
          "lastLoginAt"
        ],
        "additionalProperties": false
      },
      "AuthSession": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "sess_3fa85f64571445"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "token",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "SessionQueryResponse": {
        "type": "object",
        "properties": {
          "user": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "user"
        ],
        "additionalProperties": false
      },
      "TotpEnrollment": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string",
            "example": "JBSWY3DPEHPK3PXP"
          },
          "otpauthUrl": {
            "type": "string",
            "format": "uri",
            "example": "otpauth://totp/photoo.lu:client@example.com?secret=JBSWY3DPEHPK3PXP"
          },
          "backupCodes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "abcde-12345",
              "fghij-67890"
            ]
          }
        },
        "required": [
          "secret",
          "otpauthUrl",
          "backupCodes"
        ],
        "additionalProperties": false
      },
      "PhotographerSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "headline": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            }
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          },
          "startingPrice": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "headline",
          "avatarUrl",
          "categories",
          "languages",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount",
          "startingPrice"
        ],
        "additionalProperties": false
      },
      "Money": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "amountCents": {
            "type": "integer",
            "minimum": 0,
            "example": 15000
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code",
            "example": "EUR"
          }
        },
        "required": [
          "amountCents",
          "currency"
        ],
        "additionalProperties": false
      },
      "PublicPhotographerProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "headline": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "bio": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "coverUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "links": {
            "$ref": "#/components/schemas/ProfileLinks"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            }
          },
          "serviceRadiusKm": {
            "type": [
              "number",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          },
          "portfolio": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicPortfolioImage"
            }
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "headline",
          "bio",
          "avatarUrl",
          "coverUrl",
          "links",
          "categories",
          "languages",
          "serviceRadiusKm",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount",
          "portfolio"
        ],
        "additionalProperties": false
      },
      "ProfileLinks": {
        "type": "object",
        "properties": {
          "instagram": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "behance": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "other": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 60
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "label",
                "url"
              ],
              "additionalProperties": false
            },
            "default": []
          }
        },
        "additionalProperties": false
      },
      "PublicPortfolioImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "width": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "height": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "order": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "id",
          "url",
          "width",
          "height",
          "order"
        ],
        "additionalProperties": false
      },
      "OwnPhotographerProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "headline": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "bio": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "coverUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "links": {
            "$ref": "#/components/schemas/ProfileLinks"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            }
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "serviceRadiusKm": {
            "type": [
              "number",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          },
          "verificationStatus": {
            "type": "string",
            "enum": [
              "unverified",
              "pending",
              "verified",
              "rejected"
            ]
          },
          "isPublished": {
            "type": "boolean"
          },
          "stripeOnboardingComplete": {
            "type": "boolean"
          },
          "stripePayoutsEnabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "headline",
          "bio",
          "avatarUrl",
          "coverUrl",
          "links",
          "categories",
          "languages",
          "location",
          "serviceRadiusKm",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount",
          "verificationStatus",
          "isPublished",
          "stripeOnboardingComplete",
          "stripePayoutsEnabled"
        ],
        "additionalProperties": false
      },
      "LatLng": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "example": 49.6116
          },
          "lng": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "example": 6.1319
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "additionalProperties": false
      },
      "PortfolioImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "example": "https://cdn.photoo.lu/portfolio/abc123.jpg"
          },
          "width": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "height": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "order": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "pending_review",
              "approved",
              "flagged",
              "rejected"
            ]
          }
        },
        "required": [
          "id",
          "url",
          "width",
          "height",
          "order",
          "status"
        ],
        "additionalProperties": false
      },
      "OwnProfessionalProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "companyName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "logoUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "verified": {
            "type": "boolean"
          },
          "vatNumber": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 50
          }
        },
        "required": [
          "id",
          "companyName",
          "website",
          "logoUrl",
          "verified",
          "vatNumber"
        ],
        "additionalProperties": false
      },
      "PublicJobOfferSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LatLng"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          },
          "remote": {
            "type": "boolean"
          },
          "compensation": {
            "$ref": "#/components/schemas/Compensation"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "company": {
            "$ref": "#/components/schemas/PublicProfessionalCompany"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "category",
          "city",
          "countryCode",
          "location",
          "remote",
          "compensation",
          "publishedAt",
          "company"
        ],
        "additionalProperties": false
      },
      "Compensation": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "min": {
            "$ref": "#/components/schemas/Money"
          },
          "max": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "required": [
          "min",
          "max"
        ],
        "additionalProperties": false
      },
      "PublicProfessionalCompany": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "companyName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "logoUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "verified": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "companyName",
          "website",
          "logoUrl",
          "verified"
        ],
        "additionalProperties": false
      },
      "PublicJobOffer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LatLng"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          },
          "remote": {
            "type": "boolean"
          },
          "compensation": {
            "$ref": "#/components/schemas/Compensation"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "company": {
            "$ref": "#/components/schemas/PublicProfessionalCompany"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "endDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "category",
          "city",
          "countryCode",
          "location",
          "remote",
          "compensation",
          "publishedAt",
          "company",
          "description",
          "startDate",
          "endDate",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "JobOffer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LatLng"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          },
          "remote": {
            "type": "boolean"
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "endDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "compensation": {
            "$ref": "#/components/schemas/Compensation"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "closed",
              "expired"
            ]
          },
          "publishedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "description",
          "category",
          "city",
          "countryCode",
          "location",
          "remote",
          "startDate",
          "endDate",
          "compensation",
          "status",
          "publishedAt",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "JobApplication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "jobOfferId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          },
          "portfolioLink": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000,
            "format": "uri",
            "description": "https-only URL, normalised",
            "example": "https://example.com/portfolio"
          },
          "status": {
            "type": "string",
            "enum": [
              "submitted",
              "shortlisted",
              "rejected",
              "withdrawn"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "jobOfferId",
          "photographerId",
          "message",
          "portfolioLink",
          "status",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "JobApplicationWithPhotographer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "jobOfferId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          },
          "portfolioLink": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000,
            "format": "uri",
            "description": "https-only URL, normalised",
            "example": "https://example.com/portfolio"
          },
          "status": {
            "type": "string",
            "enum": [
              "submitted",
              "shortlisted",
              "rejected",
              "withdrawn"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "photographer": {
            "$ref": "#/components/schemas/JobApplicationPhotographer"
          }
        },
        "required": [
          "id",
          "jobOfferId",
          "photographerId",
          "message",
          "portfolioLink",
          "status",
          "createdAt",
          "photographer"
        ],
        "additionalProperties": false
      },
      "JobApplicationPhotographer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "avatarUrl",
          "city",
          "countryCode"
        ],
        "additionalProperties": false
      },
      "JobApplicationWithOffer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "jobOfferId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          },
          "portfolioLink": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000,
            "format": "uri",
            "description": "https-only URL, normalised",
            "example": "https://example.com/portfolio"
          },
          "status": {
            "type": "string",
            "enum": [
              "submitted",
              "shortlisted",
              "rejected",
              "withdrawn"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "jobOffer": {
            "$ref": "#/components/schemas/JobApplicationOfferSummary"
          }
        },
        "required": [
          "id",
          "jobOfferId",
          "photographerId",
          "message",
          "portfolioLink",
          "status",
          "createdAt",
          "jobOffer"
        ],
        "additionalProperties": false
      },
      "JobApplicationOfferSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "closed",
              "expired"
            ]
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "status"
        ],
        "additionalProperties": false
      },
      "CitySummary": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "photographerCount": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          }
        },
        "required": [
          "slug",
          "name",
          "countryCode",
          "photographerCount",
          "location"
        ],
        "additionalProperties": false
      },
      "CountrySummary": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code",
            "example": "EUR"
          },
          "defaultLocale": {
            "type": "string",
            "enum": [
              "en",
              "fr",
              "de",
              "pt",
              "es"
            ],
            "description": "BCP 47 locale",
            "example": "en"
          }
        },
        "required": [
          "code",
          "name",
          "currency",
          "defaultLocale"
        ],
        "additionalProperties": false
      },
      "PolicyVersion": {
        "type": "object",
        "properties": {
          "policyVersion": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 20
          }
        },
        "required": [
          "policyVersion"
        ],
        "additionalProperties": false
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "profileId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "title": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "description": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "durationMinutes": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "deliverables": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            },
            "description": "Structured deliverables summary, e.g. photo counts and turnaround time",
            "example": {
              "photos": 200,
              "editedPhotos": 80,
              "turnaroundDays": 14,
              "onlineGallery": true
            }
          },
          "basePrice": {
            "$ref": "#/components/schemas/Money"
          },
          "isActive": {
            "type": "boolean"
          },
          "order": {
            "type": "integer",
            "minimum": 0
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductTier"
            },
            "minItems": 1
          }
        },
        "required": [
          "id",
          "profileId",
          "title",
          "description",
          "category",
          "durationMinutes",
          "deliverables",
          "basePrice",
          "isActive",
          "order",
          "tiers"
        ],
        "additionalProperties": false
      },
      "ProductTier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "usage": {
            "type": "string",
            "enum": [
              "personal",
              "commercial",
              "editorial",
              "extended"
            ],
            "example": "personal"
          },
          "price": {
            "$ref": "#/components/schemas/Money"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "licenceTextVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "v1"
          }
        },
        "required": [
          "id",
          "usage",
          "price",
          "description",
          "licenceTextVersion"
        ],
        "additionalProperties": false
      },
      "Request": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "eventDate": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "dateFlexible": {
            "type": "boolean"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "budgetMin": {
            "$ref": "#/components/schemas/RequestBudgetMoney"
          },
          "budgetMax": {
            "$ref": "#/components/schemas/RequestBudgetMoney"
          },
          "usage": {
            "type": "string",
            "enum": [
              "personal",
              "commercial",
              "editorial",
              "extended"
            ],
            "example": "personal"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "quoted",
              "booked",
              "closed",
              "cancelled"
            ]
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "quoteCount": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "id",
          "clientId",
          "title",
          "category",
          "description",
          "eventDate",
          "dateFlexible",
          "location",
          "address",
          "budgetMin",
          "budgetMax",
          "usage",
          "status",
          "expiresAt",
          "quoteCount"
        ],
        "additionalProperties": false
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "line2": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "postalCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          }
        },
        "required": [
          "line1",
          "city",
          "postalCode",
          "countryCode"
        ],
        "additionalProperties": false
      },
      "RequestBudgetMoney": {
        "type": "object",
        "properties": {
          "amountCents": {
            "type": "integer",
            "minimum": 0,
            "maximum": 99999999
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code",
            "example": "EUR"
          }
        },
        "required": [
          "amountCents",
          "currency"
        ],
        "additionalProperties": false
      },
      "RequestSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "eventDate": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "dateFlexible": {
            "type": "boolean"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "budgetMin": {
            "$ref": "#/components/schemas/RequestBudgetMoney"
          },
          "budgetMax": {
            "$ref": "#/components/schemas/RequestBudgetMoney"
          },
          "usage": {
            "type": "string",
            "enum": [
              "personal",
              "commercial",
              "editorial",
              "extended"
            ],
            "example": "personal"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "quoted",
              "booked",
              "closed",
              "cancelled"
            ]
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "hasQuoted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "title",
          "category",
          "description",
          "eventDate",
          "dateFlexible",
          "city",
          "countryCode",
          "location",
          "budgetMin",
          "budgetMax",
          "usage",
          "status",
          "expiresAt",
          "hasQuoted"
        ],
        "additionalProperties": false
      },
      "Quote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "requestId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographer": {
            "$ref": "#/components/schemas/QuotePhotographer"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "productId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "productTierId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            },
            "minItems": 1,
            "maxItems": 50
          },
          "subtotal": {
            "$ref": "#/components/schemas/Money"
          },
          "platformFee": {
            "$ref": "#/components/schemas/Money"
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "accepted",
              "declined",
              "expired",
              "withdrawn"
            ]
          }
        },
        "required": [
          "id",
          "requestId",
          "photographerId",
          "photographer",
          "clientId",
          "productId",
          "productTierId",
          "lineItems",
          "subtotal",
          "platformFee",
          "total",
          "validUntil",
          "message",
          "status"
        ],
        "additionalProperties": false
      },
      "QuotePhotographer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "avatarUrl",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount"
        ],
        "additionalProperties": false
      },
      "LineItem": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "qty": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          "unitCents": {
            "type": "integer",
            "minimum": 0,
            "maximum": 99999999
          }
        },
        "required": [
          "label",
          "qty",
          "unitCents"
        ],
        "additionalProperties": false
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "quoteId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_payment",
              "paid_held",
              "in_progress",
              "delivered",
              "released",
              "refunded",
              "disputed",
              "cancelled"
            ]
          },
          "releaseDueAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "deliveredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "releasedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "cancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "cancellationReason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        },
        "required": [
          "id",
          "quoteId",
          "clientId",
          "photographerId",
          "scheduledAt",
          "location",
          "total",
          "status",
          "releaseDueAt",
          "deliveredAt",
          "releasedAt",
          "cancelledAt",
          "cancellationReason"
        ],
        "additionalProperties": false
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "bookingId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "message": {
            "type": "string",
            "maxLength": 2000
          },
          "fileIds": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            }
          },
          "externalLink": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "acceptedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "bookingId",
          "message",
          "fileIds",
          "externalLink",
          "deliveredAt",
          "acceptedAt"
        ],
        "additionalProperties": false
      },
      "BookingPaymentIntent": {
        "type": "object",
        "properties": {
          "clientSecret": {
            "type": "string",
            "example": "pi_3P_secret_abc123"
          }
        },
        "required": [
          "clientSecret"
        ],
        "additionalProperties": false
      },
      "CreateRefundResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "refunded"
            ]
          }
        },
        "required": [
          "status"
        ],
        "additionalProperties": false
      },
      "CreateRefundRequest": {
        "type": "object",
        "properties": {
          "amountCents": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "required": [
          "reason"
        ],
        "additionalProperties": false
      },
      "StripeAccountLinkResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://connect.stripe.com/setup/e/acct_1P/abc123"
          }
        },
        "required": [
          "url"
        ],
        "additionalProperties": false
      },
      "StripeWebhookAckResponse": {
        "type": "object",
        "properties": {
          "received": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "received"
        ],
        "additionalProperties": false
      },
      "StripeWebhookEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "example": "evt_1P000000000000000"
          },
          "type": {
            "type": "string",
            "minLength": 1,
            "example": "payment_intent.succeeded"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "object"
            ],
            "additionalProperties": {}
          }
        },
        "required": [
          "id",
          "type",
          "data"
        ],
        "additionalProperties": {}
      },
      "CreateUploadResponse": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://storage.photoo.lu/uploads/abc123"
          },
          "headers": {
            "type": "object",
            "properties": {
              "Content-Type": {
                "type": "string",
                "example": "image/jpeg"
              },
              "Content-Length": {
                "type": "string",
                "example": "1024"
              }
            },
            "required": [
              "Content-Type",
              "Content-Length"
            ],
            "additionalProperties": false,
            "description": "Headers the client must send exactly as given on the presigned PUT"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "uploadId",
          "url",
          "headers",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "Upload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "portfolio",
              "avatar",
              "cover",
              "logo",
              "chat_attachment",
              "verification_document",
              "delivery_file"
            ],
            "example": "portfolio"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_upload",
              "uploaded",
              "scanning",
              "clean",
              "infected",
              "failed",
              "processed"
            ],
            "example": "processed"
          },
          "mimeType": {
            "type": "string",
            "minLength": 3,
            "maxLength": 127,
            "pattern": "^[a-z0-9.+-]+\\/[a-z0-9.+-]+$",
            "example": "image/jpeg"
          },
          "declaredSizeBytes": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "actualSizeBytes": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "virusScanStatus": {
            "type": "string",
            "enum": [
              "pending",
              "clean",
              "infected",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "purpose",
          "status",
          "mimeType",
          "declaredSizeBytes",
          "actualSizeBytes",
          "virusScanStatus",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "UploadDownload": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://storage.photoo.lu/uploads/abc123?signature=xyz"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "url",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "type": {
            "type": "string",
            "enum": [
              "request",
              "quote",
              "booking",
              "direct"
            ]
          },
          "subjectId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "subjectRef": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/QuoteConversationSubjectRef"
              },
              {
                "type": "null"
              }
            ]
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationParticipant"
            },
            "minItems": 1
          },
          "lastMessageAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "lastMessagePreview": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 4000
          },
          "unreadCount": {
            "type": "integer",
            "minimum": 0
          },
          "archivedByMe": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "type",
          "subjectId",
          "subjectRef",
          "participants",
          "lastMessageAt",
          "lastMessagePreview",
          "unreadCount",
          "archivedByMe"
        ],
        "additionalProperties": false
      },
      "QuoteConversationSubjectRef": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "quote"
            ]
          },
          "quoteId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "requestTitle": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          }
        },
        "required": [
          "type",
          "quoteId"
        ],
        "additionalProperties": false
      },
      "ConversationParticipant": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "user": {
            "$ref": "#/components/schemas/ConversationParticipantUser"
          },
          "lastReadAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "userId",
          "user",
          "lastReadAt"
        ],
        "additionalProperties": false
      },
      "ConversationParticipantUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "displayName": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          }
        },
        "required": [
          "id",
          "displayName",
          "avatarUrl"
        ],
        "additionalProperties": false
      },
      "ConversationsUnreadCount": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "count"
        ],
        "additionalProperties": false
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "senderId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "body": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 4000
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageAttachment"
            }
          },
          "editedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "conversationId",
          "senderId",
          "body",
          "attachments",
          "editedAt",
          "deletedAt",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "MessageAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "kind": {
            "type": "string",
            "enum": [
              "image",
              "pdf",
              "other"
            ]
          },
          "mimeType": {
            "type": "string",
            "minLength": 3,
            "maxLength": 127,
            "pattern": "^[a-z0-9.+-]+\\/[a-z0-9.+-]+$",
            "example": "image/jpeg"
          },
          "sizeBytes": {
            "type": "integer",
            "exclusiveMinimum": 0
          }
        },
        "required": [
          "id",
          "kind",
          "mimeType",
          "sizeBytes"
        ],
        "additionalProperties": false
      },
      "VerificationRequirements": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequiredDocument"
            }
          }
        },
        "required": [
          "countryCode",
          "documents"
        ],
        "additionalProperties": false
      },
      "RequiredDocument": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60,
            "example": "id_card"
          },
          "label": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          },
          "acceptedMimeTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 3,
              "maxLength": 127,
              "pattern": "^[a-z0-9.+-]+\\/[a-z0-9.+-]+$",
              "example": "image/jpeg"
            },
            "minItems": 1
          }
        },
        "required": [
          "key",
          "label",
          "description",
          "acceptedMimeTypes"
        ],
        "additionalProperties": false
      },
      "VerificationCase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "submitted",
              "in_review",
              "approved",
              "rejected",
              "expired"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationDocument"
            }
          },
          "submittedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "decidedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "rejectionReason": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 1000
          },
          "businessName": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "vatNumber": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 40
          },
          "businessRegistrationNumber": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 60
          }
        },
        "required": [
          "id",
          "countryCode",
          "status",
          "documents",
          "submittedAt",
          "decidedAt",
          "rejectionReason",
          "businessName",
          "vatNumber",
          "businessRegistrationNumber"
        ],
        "additionalProperties": false
      },
      "VerificationDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "documentKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60,
            "example": "id_card"
          },
          "mimeType": {
            "type": "string",
            "minLength": 3,
            "maxLength": 127,
            "pattern": "^[a-z0-9.+-]+\\/[a-z0-9.+-]+$",
            "example": "image/jpeg"
          },
          "virusScanStatus": {
            "type": "string",
            "enum": [
              "pending",
              "clean",
              "infected",
              "failed"
            ]
          },
          "uploadedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "documentKey",
          "mimeType",
          "virusScanStatus",
          "uploadedAt"
        ],
        "additionalProperties": false
      },
      "DataRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "type": {
            "type": "string",
            "enum": [
              "export",
              "delete"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "ready",
              "completed",
              "failed",
              "cancelled"
            ]
          },
          "channel": {
            "type": "string",
            "enum": [
              "in_app",
              "email",
              "support"
            ]
          },
          "requestedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "failureReason": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "cancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "channel",
          "requestedAt",
          "completedAt",
          "expiresAt",
          "failureReason",
          "cancelledAt"
        ],
        "additionalProperties": false
      },
      "DataRequestDownload": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://storage.photoo.lu/exports/abc123?signature=xyz"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "url",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "Consents": {
        "type": "object",
        "properties": {
          "consents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConsentStateEntry"
            }
          }
        },
        "required": [
          "consents"
        ],
        "additionalProperties": false
      },
      "ConsentStateEntry": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "enum": [
              "analytics",
              "ads",
              "marketing"
            ],
            "example": "analytics"
          },
          "granted": {
            "type": "boolean"
          },
          "policyVersion": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 20
          },
          "recordedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "purpose",
          "granted",
          "policyVersion",
          "recordedAt"
        ],
        "additionalProperties": false
      },
      "ConsentRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "analytics",
              "ads",
              "marketing"
            ],
            "example": "analytics"
          },
          "granted": {
            "type": "boolean"
          },
          "policyVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20
          },
          "recordedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "purpose",
          "granted",
          "policyVersion",
          "recordedAt"
        ],
        "additionalProperties": false
      },
      "AdminMe": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "support",
                "moderation",
                "verification",
                "finance",
                "superadmin"
              ]
            }
          },
          "sessionExpiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "twoFactorFreshUntil": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "permissions",
          "sessionExpiresAt",
          "twoFactorFreshUntil"
        ],
        "additionalProperties": false
      },
      "AdminUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "client@example.com"
          },
          "emailVerifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "locale": {
            "type": "string",
            "enum": [
              "en",
              "fr",
              "de",
              "pt",
              "es"
            ],
            "description": "BCP 47 locale",
            "example": "en"
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "client",
                "photographer",
                "professional",
                "admin"
              ]
            },
            "minItems": 1,
            "example": [
              "client"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "deleted"
            ]
          },
          "twoFactorEnabled": {
            "type": "boolean"
          },
          "lastLoginAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "photographerProfile": {
            "$ref": "#/components/schemas/AdminPhotographerProfileSummary"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerifiedAt",
          "locale",
          "country",
          "roles",
          "status",
          "twoFactorEnabled",
          "lastLoginAt",
          "name",
          "photographerProfile"
        ],
        "additionalProperties": false
      },
      "AdminPhotographerProfileSummary": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "isPublished": {
            "type": "boolean"
          }
        },
        "required": [
          "slug",
          "isPublished"
        ],
        "additionalProperties": false
      },
      "AdminDataRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "type": {
            "type": "string",
            "enum": [
              "export",
              "delete"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "ready",
              "completed",
              "failed",
              "cancelled"
            ]
          },
          "channel": {
            "type": "string",
            "enum": [
              "in_app",
              "email",
              "support"
            ]
          },
          "requestedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "failureReason": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "cancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "responseDueAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "answeredLate": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "UUID identifier",
                "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            },
            "required": [
              "id",
              "email"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "channel",
          "requestedAt",
          "completedAt",
          "expiresAt",
          "failureReason",
          "cancelledAt",
          "responseDueAt",
          "answeredLate",
          "user"
        ],
        "additionalProperties": false
      },
      "AdminVerificationCaseSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "countryCode": {
            "type": "string",
[...]
