{
  "openapi": "3.1.0",
  "info": {
    "title": "photoo.lu API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.photoo.lu"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "photoo_session",
        "description": "Session cookie used by the web app"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer session token used by mobile apps"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "client@example.com"
          },
          "emailVerifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "locale": {
            "type": "string",
            "enum": [
              "en",
              "fr",
              "de",
              "pt",
              "es"
            ],
            "description": "BCP 47 locale",
            "example": "en"
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "client",
                "photographer",
                "professional",
                "admin"
              ]
            },
            "minItems": 1,
            "example": [
              "client"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "deleted"
            ]
          },
          "twoFactorEnabled": {
            "type": "boolean"
          },
          "lastLoginAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerifiedAt",
          "locale",
          "country",
          "roles",
          "status",
          "twoFactorEnabled",
          "lastLoginAt"
        ],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "VALIDATION_ERROR"
          },
          "message": {
            "type": "string",
            "example": "Request validation failed"
          },
          "details": {},
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        },
        "required": [
          "code",
          "message",
          "requestId"
        ],
        "additionalProperties": false
      },
      "AuthSession": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "sess_3fa85f64571445"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "token",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "TotpEnrollment": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string",
            "example": "JBSWY3DPEHPK3PXP"
          },
          "otpauthUrl": {
            "type": "string",
            "format": "uri",
            "example": "otpauth://totp/photoo.lu:client@example.com?secret=JBSWY3DPEHPK3PXP"
          }
        },
        "required": [
          "secret",
          "otpauthUrl"
        ],
        "additionalProperties": false
      },
      "PhotographerSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "headline": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            }
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          },
          "startingPrice": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "headline",
          "avatarUrl",
          "categories",
          "languages",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount",
          "startingPrice"
        ],
        "additionalProperties": false
      },
      "Money": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "amountCents": {
            "type": "integer",
            "minimum": 0,
            "example": 15000
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code",
            "example": "EUR"
          }
        },
        "required": [
          "amountCents",
          "currency"
        ],
        "additionalProperties": false
      },
      "PublicPhotographerProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "headline": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "bio": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "coverUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "links": {
            "$ref": "#/components/schemas/ProfileLinks"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            }
          },
          "serviceRadiusKm": {
            "type": [
              "number",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          },
          "portfolio": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicPortfolioImage"
            }
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "headline",
          "bio",
          "avatarUrl",
          "coverUrl",
          "links",
          "categories",
          "languages",
          "serviceRadiusKm",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount",
          "portfolio"
        ],
        "additionalProperties": false
      },
      "ProfileLinks": {
        "type": "object",
        "properties": {
          "instagram": {
            "type": "string",
            "format": "uri"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "behance": {
            "type": "string",
            "format": "uri"
          },
          "other": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 60
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "label",
                "url"
              ],
              "additionalProperties": false
            },
            "default": []
          }
        },
        "additionalProperties": false
      },
      "PublicPortfolioImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://cdn.photoo.lu/portfolio/abc123.jpg"
          },
          "width": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "height": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "order": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "id",
          "url",
          "width",
          "height",
          "order"
        ],
        "additionalProperties": false
      },
      "OwnPhotographerProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "headline": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "bio": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "coverUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "links": {
            "$ref": "#/components/schemas/ProfileLinks"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            }
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "serviceRadiusKm": {
            "type": [
              "number",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          },
          "verificationStatus": {
            "type": "string",
            "enum": [
              "unverified",
              "pending",
              "verified",
              "rejected"
            ]
          },
          "isPublished": {
            "type": "boolean"
          },
          "stripeOnboardingComplete": {
            "type": "boolean"
          },
          "stripePayoutsEnabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "headline",
          "bio",
          "avatarUrl",
          "coverUrl",
          "links",
          "categories",
          "languages",
          "location",
          "serviceRadiusKm",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount",
          "verificationStatus",
          "isPublished",
          "stripeOnboardingComplete",
          "stripePayoutsEnabled"
        ],
        "additionalProperties": false
      },
      "LatLng": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "example": 49.6116
          },
          "lng": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "example": 6.1319
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "additionalProperties": false
      },
      "PortfolioImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://cdn.photoo.lu/portfolio/abc123.jpg"
          },
          "width": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "height": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "order": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "pending_review",
              "approved",
              "flagged",
              "rejected"
            ]
          }
        },
        "required": [
          "id",
          "url",
          "width",
          "height",
          "order",
          "status"
        ],
        "additionalProperties": false
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "profileId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "title": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "durationMinutes": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          "basePrice": {
            "$ref": "#/components/schemas/Money"
          },
          "isActive": {
            "type": "boolean"
          },
          "order": {
            "type": "integer",
            "minimum": 0
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductTier"
            },
            "minItems": 1
          }
        },
        "required": [
          "id",
          "profileId",
          "title",
          "description",
          "category",
          "durationMinutes",
          "deliverables",
          "basePrice",
          "isActive",
          "order",
          "tiers"
        ],
        "additionalProperties": false
      },
      "ProductTier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "usage": {
            "type": "string",
            "enum": [
              "personal",
              "commercial",
              "editorial",
              "extended"
            ],
            "example": "personal"
          },
          "price": {
            "$ref": "#/components/schemas/Money"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "licenceTextVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "v1"
          }
        },
        "required": [
          "id",
          "usage",
          "price",
          "description",
          "licenceTextVersion"
        ],
        "additionalProperties": false
      },
      "Request": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "eventDate": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "dateFlexible": {
            "type": "boolean"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "budgetMin": {
            "$ref": "#/components/schemas/Money"
          },
          "budgetMax": {
            "$ref": "#/components/schemas/Money"
          },
          "usage": {
            "type": "string",
            "enum": [
              "personal",
              "commercial",
              "editorial",
              "extended"
            ],
            "example": "personal"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "quoted",
              "booked",
              "closed",
              "cancelled"
            ]
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "clientId",
          "title",
          "category",
          "description",
          "eventDate",
          "dateFlexible",
          "location",
          "address",
          "budgetMin",
          "budgetMax",
          "usage",
          "status",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "line2": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "postalCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          }
        },
        "required": [
          "line1",
          "city",
          "postalCode",
          "countryCode"
        ],
        "additionalProperties": false
      },
      "Quote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "requestId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "productId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "productTierId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            },
            "minItems": 1
          },
          "subtotal": {
            "$ref": "#/components/schemas/Money"
          },
          "platformFee": {
            "$ref": "#/components/schemas/Money"
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "accepted",
              "declined",
              "expired",
              "withdrawn"
            ]
          }
        },
        "required": [
          "id",
          "requestId",
          "photographerId",
          "clientId",
          "productId",
          "productTierId",
          "lineItems",
          "subtotal",
          "platformFee",
          "total",
          "validUntil",
          "message",
          "status"
        ],
        "additionalProperties": false
      },
      "LineItem": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "qty": {
            "type": "integer",
            "minimum": 1
          },
          "unitCents": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "label",
          "qty",
          "unitCents"
        ],
        "additionalProperties": false
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "quoteId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_payment",
              "paid_held",
              "in_progress",
              "delivered",
              "released",
              "refunded",
              "disputed",
              "cancelled"
            ]
          },
          "releaseDueAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "deliveredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "releasedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "cancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "cancellationReason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        },
        "required": [
          "id",
          "quoteId",
          "clientId",
          "photographerId",
          "scheduledAt",
          "location",
          "total",
          "status",
          "releaseDueAt",
          "deliveredAt",
          "releasedAt",
          "cancelledAt",
          "cancellationReason"
        ],
        "additionalProperties": false
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "bookingId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "message": {
            "type": "string",
            "maxLength": 2000
          },
          "fileIds": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            }
          },
          "externalLink": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "acceptedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "bookingId",
          "message",
          "fileIds",
          "externalLink",
          "deliveredAt",
          "acceptedAt"
        ],
        "additionalProperties": false
      },
      "BookingPaymentIntent": {
        "type": "object",
        "properties": {
          "clientSecret": {
            "type": "string",
            "example": "pi_3P_secret_abc123"
          }
        },
        "required": [
          "clientSecret"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/auth/sign-up": {
      "post": {
        "summary": "Create an account",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "client@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 256,
                    "example": "correct horse battery staple"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "client",
                        "photographer",
                        "professional"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 3,
                    "example": [
                      "client"
                    ]
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "fr",
                      "de",
                      "pt",
                      "es"
                    ],
                    "description": "BCP 47 locale",
                    "example": "en"
                  }
                },
                "required": [
                  "email",
                  "password",
                  "roles",
                  "locale"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created, verification email sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-in": {
      "post": {
        "summary": "Sign in with email and password",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "client@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "example": "correct horse battery staple"
                  }
                },
                "required": [
                  "email",
                  "password"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "session": {
                      "$ref": "#/components/schemas/AuthSession"
                    }
                  },
                  "required": [
                    "user",
                    "session"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-out": {
      "post": {
        "summary": "Sign out of the current session",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Signed out"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/session": {
      "get": {
        "summary": "Get the current session user",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current session user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/verify-email": {
      "post": {
        "summary": "Confirm an email verification token",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "example": "a1b2c3d4e5f6"
                  }
                },
                "required": [
                  "token"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password-reset/request": {
      "post": {
        "summary": "Request a password reset email",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "client@example.com"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reset email sent if the account exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "If an account exists, a reset email has been sent."
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password-reset/confirm": {
      "post": {
        "summary": "Confirm a password reset with a new password",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "example": "a1b2c3d4e5f6"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 256,
                    "example": "correct horse battery staple"
                  }
                },
                "required": [
                  "token",
                  "password"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password updated."
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/roles": {
      "post": {
        "summary": "Add a role to the current user's account",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "client",
                      "photographer",
                      "professional"
                    ],
                    "example": "photographer"
                  }
                },
                "required": [
                  "role"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/totp/enroll": {
      "post": {
        "summary": "Start TOTP enrollment for the current user",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "TOTP secret and enrollment URI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotpEnrollment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/totp/verify": {
      "post": {
        "summary": "Confirm TOTP enrollment with a generated code",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "pattern": "^\\d{6}$",
                    "example": "123456"
                  }
                },
                "required": [
                  "code"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TOTP enabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/totp/disable": {
      "post": {
        "summary": "Disable TOTP for the current user",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "pattern": "^\\d{6}$",
                    "example": "123456"
                  }
                },
                "required": [
                  "code"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TOTP disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/oauth/google/start": {
      "get": {
        "summary": "Start the google OAuth sign-in redirect",
        "tags": [
          "auth"
        ],
        "responses": {
          "302": {
            "description": "Redirect to the google OAuth consent screen"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/oauth/apple/start": {
      "get": {
        "summary": "Start the apple OAuth sign-in redirect",
        "tags": [
          "auth"
        ],
        "responses": {
          "302": {
            "description": "Redirect to the apple OAuth consent screen"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/oauth/facebook/start": {
      "get": {
        "summary": "Start the facebook OAuth sign-in redirect",
        "tags": [
          "auth"
        ],
        "responses": {
          "302": {
            "description": "Redirect to the facebook OAuth consent screen"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/oauth/microsoft/start": {
      "get": {
        "summary": "Start the microsoft OAuth sign-in redirect",
        "tags": [
          "auth"
        ],
        "responses": {
          "302": {
            "description": "Redirect to the microsoft OAuth consent screen"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/photographers": {
      "get": {
        "summary": "Search published photographer profiles",
        "tags": [
          "profiles"
        ],
        "parameters": [
          {
            "schema": {
              "type": [
                "number",
                "null"
              ],
              "minimum": -90,
              "maximum": 90
            },
            "required": false,
            "name": "lat",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ],
              "minimum": -180,
              "maximum": 180
            },
            "required": false,
            "name": "lng",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            },
            "required": false,
            "name": "radiusKm",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            },
            "required": false,
            "name": "city",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            },
            "required": false,
            "name": "category",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            },
            "required": false,
            "description": "ISO 639-1 language code",
            "name": "language",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0
            },
            "required": false,
            "name": "priceMinCents",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0
            },
            "required": false,
            "name": "priceMaxCents",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of matching photographer profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhotographerSummary"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "minLength": 1
                    }
                  },
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/photographers/{slug}": {
      "get": {
        "summary": "Get a published photographer profile by slug",
        "tags": [
          "profiles"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 60,
              "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
              "description": "URL-safe profile slug",
              "example": "jane-doe-photography"
            },
            "required": true,
            "description": "URL-safe profile slug",
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The photographer profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPhotographerProfile"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/photographer-profile": {
      "get": {
        "summary": "Get the current user's photographer profile",
        "tags": [
          "profiles"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The current user's photographer profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnPhotographerProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update the current user's photographer profile",
        "tags": [
          "profiles"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "headline": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "bio": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "minLength": 1
                      },
                      "fr": {
                        "type": "string",
                        "minLength": 1
                      },
                      "de": {
                        "type": "string",
                        "minLength": 1
                      },
                      "pt": {
                        "type": "string",
                        "minLength": 1
                      },
                      "es": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "description": "Text keyed by supported locale, only translated locales present",
                    "example": {
                      "en": "Wedding and portrait photographer in Luxembourg"
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/ProfileLinks"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "wedding",
                        "portrait",
                        "event",
                        "product",
                        "real-estate",
                        "corporate"
                      ],
                      "example": "wedding"
                    },
                    "minItems": 1
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[a-z]{2}$",
                      "description": "ISO 639-1 language code",
                      "example": "en"
                    },
                    "minItems": 1
                  },
                  "location": {
                    "$ref": "#/components/schemas/LatLng"
                  },
                  "serviceRadiusKm": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "exclusiveMinimum": 0
                  },
                  "city": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "countryCode": {
                    "type": "string",
                    "pattern": "^[A-Z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code",
                    "example": "LU"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnPhotographerProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/photographer-profile/portfolio": {
      "get": {
        "summary": "List the current user's portfolio images, in all statuses",
        "tags": [
          "profiles"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of portfolio images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PortfolioImage"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "minLength": 1
                    }
                  },
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/photographer-profile/portfolio/order": {
      "patch": {
        "summary": "Reorder the current user portfolio images",
        "tags": [
          "profiles"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUID identifier",
                      "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "imageIds"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Portfolio reordered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PortfolioImage"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "minLength": 1
                    }
                  },
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/photographer-profile/portfolio/{imageId}": {
      "delete": {
        "summary": "Delete a portfolio image",
        "tags": [
          "profiles"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "imageId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Portfolio image deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/photographers/{slug}/products": {
      "get": {
        "summary": "List the active products for a published photographer profile",
        "tags": [
          "products"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 60,
              "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
              "description": "URL-safe profile slug",
              "example": "jane-doe-photography"
            },
            "required": true,
            "description": "URL-safe profile slug",
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The published products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/products": {
      "get": {
        "summary": "List the current user's products",
        "tags": [
          "products"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "All of the current user products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a product",
        "tags": [
          "products"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "minLength": 1
                      },
                      "fr": {
                        "type": "string",
                        "minLength": 1
                      },
                      "de": {
                        "type": "string",
                        "minLength": 1
                      },
                      "pt": {
                        "type": "string",
                        "minLength": 1
                      },
                      "es": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "description": "Text keyed by supported locale, only translated locales present",
                    "example": {
                      "en": "Wedding and portrait photographer in Luxembourg"
                    }
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "wedding",
                      "portrait",
                      "event",
                      "product",
                      "real-estate",
                      "corporate"
                    ],
                    "example": "wedding"
                  },
                  "durationMinutes": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "deliverables": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    }
                  },
                  "basePrice": {
                    "$ref": "#/components/schemas/Money"
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "order": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "tiers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "usage": {
                          "type": "string",
                          "enum": [
                            "personal",
                            "commercial",
                            "editorial",
                            "extended"
                          ],
                          "example": "personal"
                        },
                        "price": {
                          "$ref": "#/components/schemas/Money"
                        },
                        "description": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 500
                        },
                        "licenceTextVersion": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 20,
                          "example": "v1"
                        }
                      },
                      "required": [
                        "usage",
                        "price",
                        "description",
                        "licenceTextVersion"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "title",
                  "description",
                  "category",
                  "durationMinutes",
                  "deliverables",
                  "basePrice",
                  "tiers"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/products/{productId}": {
      "get": {
        "summary": "Get one of the current user products",
        "tags": [
          "products"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "productId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update one of the current user products",
        "tags": [
          "products"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "productId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "minLength": 1
                      },
                      "fr": {
                        "type": "string",
                        "minLength": 1
                      },
                      "de": {
                        "type": "string",
                        "minLength": 1
                      },
                      "pt": {
                        "type": "string",
                        "minLength": 1
                      },
                      "es": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "description": "Text keyed by supported locale, only translated locales present",
                    "example": {
                      "en": "Wedding and portrait photographer in Luxembourg"
                    }
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "wedding",
                      "portrait",
                      "event",
                      "product",
                      "real-estate",
                      "corporate"
                    ],
                    "example": "wedding"
                  },
                  "durationMinutes": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "deliverables": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    }
                  },
                  "basePrice": {
                    "$ref": "#/components/schemas/Money"
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "order": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "tiers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "usage": {
                          "type": "string",
                          "enum": [
                            "personal",
                            "commercial",
                            "editorial",
                            "extended"
                          ],
                          "example": "personal"
                        },
                        "price": {
                          "$ref": "#/components/schemas/Money"
                        },
                        "description": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 500
                        },
                        "licenceTextVersion": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 20,
                          "example": "v1"
                        }
                      },
                      "required": [
                        "usage",
                        "price",
                        "description",
                        "licenceTextVersion"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
[...]
