{
  "openapi": "3.1.0",
  "info": {
    "title": "photoo.lu API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.photoo.lu"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "photoo_session",
        "description": "Session cookie used by the web app"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer session token used by mobile apps"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          }
        },
        "required": [
          "status"
        ],
        "additionalProperties": false
      },
      "ReadyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "checks": {
            "type": "object",
            "properties": {
              "database": {
                "type": "string",
                "enum": [
                  "ok"
                ]
              },
              "redis": {
                "type": "string",
                "enum": [
                  "ok"
                ]
              }
            },
            "required": [
              "database",
              "redis"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "status",
          "checks"
        ],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "VALIDATION_ERROR"
          },
          "message": {
            "type": "string",
            "example": "Request validation failed"
          },
          "details": {},
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        },
        "required": [
          "code",
          "message",
          "requestId"
        ],
        "additionalProperties": false
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "client@example.com"
          },
          "emailVerifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "locale": {
            "type": "string",
            "enum": [
              "en",
              "fr",
              "de",
              "pt",
              "es"
            ],
            "description": "BCP 47 locale",
            "example": "en"
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "client",
                "photographer",
                "professional",
                "admin"
              ]
            },
            "minItems": 1,
            "example": [
              "client"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "deleted"
            ]
          },
          "twoFactorEnabled": {
            "type": "boolean"
          },
          "lastLoginAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerifiedAt",
          "locale",
          "country",
          "roles",
          "status",
          "twoFactorEnabled",
          "lastLoginAt"
        ],
        "additionalProperties": false
      },
      "AuthSession": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "sess_3fa85f64571445"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "token",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "TotpEnrollment": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string",
            "example": "JBSWY3DPEHPK3PXP"
          },
          "otpauthUrl": {
            "type": "string",
            "format": "uri",
            "example": "otpauth://totp/photoo.lu:client@example.com?secret=JBSWY3DPEHPK3PXP"
          },
          "backupCodes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "abcde-12345",
              "fghij-67890"
            ]
          }
        },
        "required": [
          "secret",
          "otpauthUrl",
          "backupCodes"
        ],
        "additionalProperties": false
      },
      "PhotographerSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "headline": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            }
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          },
          "startingPrice": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "headline",
          "avatarUrl",
          "categories",
          "languages",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount",
          "startingPrice"
        ],
        "additionalProperties": false
      },
      "Money": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "amountCents": {
            "type": "integer",
            "minimum": 0,
            "example": 15000
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code",
            "example": "EUR"
          }
        },
        "required": [
          "amountCents",
          "currency"
        ],
        "additionalProperties": false
      },
      "PublicPhotographerProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "headline": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "bio": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "coverUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "links": {
            "$ref": "#/components/schemas/ProfileLinks"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            }
          },
          "serviceRadiusKm": {
            "type": [
              "number",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          },
          "portfolio": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicPortfolioImage"
            }
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "headline",
          "bio",
          "avatarUrl",
          "coverUrl",
          "links",
          "categories",
          "languages",
          "serviceRadiusKm",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount",
          "portfolio"
        ],
        "additionalProperties": false
      },
      "ProfileLinks": {
        "type": "object",
        "properties": {
          "instagram": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "behance": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "other": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 60
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "label",
                "url"
              ],
              "additionalProperties": false
            },
            "default": []
          }
        },
        "additionalProperties": false
      },
      "PublicPortfolioImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "width": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "height": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "order": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "id",
          "url",
          "width",
          "height",
          "order"
        ],
        "additionalProperties": false
      },
      "OwnPhotographerProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "URL-safe profile slug",
            "example": "jane-doe-photography"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Jane Doe Photography"
          },
          "headline": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "bio": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "coverUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "links": {
            "$ref": "#/components/schemas/ProfileLinks"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "wedding",
                "portrait",
                "event",
                "product",
                "real-estate",
                "corporate"
              ],
              "example": "wedding"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z]{2}$",
              "description": "ISO 639-1 language code",
              "example": "en"
            }
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "serviceRadiusKm": {
            "type": [
              "number",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "ratingAvg": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer",
            "minimum": 0
          },
          "verificationStatus": {
            "type": "string",
            "enum": [
              "unverified",
              "pending",
              "verified",
              "rejected"
            ]
          },
          "isPublished": {
            "type": "boolean"
          },
          "stripeOnboardingComplete": {
            "type": "boolean"
          },
          "stripePayoutsEnabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "headline",
          "bio",
          "avatarUrl",
          "coverUrl",
          "links",
          "categories",
          "languages",
          "location",
          "serviceRadiusKm",
          "city",
          "countryCode",
          "ratingAvg",
          "ratingCount",
          "verificationStatus",
          "isPublished",
          "stripeOnboardingComplete",
          "stripePayoutsEnabled"
        ],
        "additionalProperties": false
      },
      "LatLng": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "example": 49.6116
          },
          "lng": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "example": 6.1319
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "additionalProperties": false
      },
      "PortfolioImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "example": "https://cdn.photoo.lu/portfolio/abc123.jpg"
          },
          "width": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "height": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "order": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "pending_review",
              "approved",
              "flagged",
              "rejected"
            ]
          }
        },
        "required": [
          "id",
          "url",
          "width",
          "height",
          "order",
          "status"
        ],
        "additionalProperties": false
      },
      "CitySummary": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "photographerCount": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          }
        },
        "required": [
          "slug",
          "name",
          "countryCode",
          "photographerCount",
          "location"
        ],
        "additionalProperties": false
      },
      "CountrySummary": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code",
            "example": "EUR"
          },
          "defaultLocale": {
            "type": "string",
            "enum": [
              "en",
              "fr",
              "de",
              "pt",
              "es"
            ],
            "description": "BCP 47 locale",
            "example": "en"
          }
        },
        "required": [
          "code",
          "name",
          "currency",
          "defaultLocale"
        ],
        "additionalProperties": false
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "profileId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "title": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "description": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "durationMinutes": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "deliverables": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            },
            "description": "Structured deliverables summary, e.g. photo counts and turnaround time",
            "example": {
              "photos": 200,
              "editedPhotos": 80,
              "turnaroundDays": 14,
              "onlineGallery": true
            }
          },
          "basePrice": {
            "$ref": "#/components/schemas/Money"
          },
          "isActive": {
            "type": "boolean"
          },
          "order": {
            "type": "integer",
            "minimum": 0
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductTier"
            },
            "minItems": 1
          }
        },
        "required": [
          "id",
          "profileId",
          "title",
          "description",
          "category",
          "durationMinutes",
          "deliverables",
          "basePrice",
          "isActive",
          "order",
          "tiers"
        ],
        "additionalProperties": false
      },
      "ProductTier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "usage": {
            "type": "string",
            "enum": [
              "personal",
              "commercial",
              "editorial",
              "extended"
            ],
            "example": "personal"
          },
          "price": {
            "$ref": "#/components/schemas/Money"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "licenceTextVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "v1"
          }
        },
        "required": [
          "id",
          "usage",
          "price",
          "description",
          "licenceTextVersion"
        ],
        "additionalProperties": false
      },
      "Request": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "eventDate": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "dateFlexible": {
            "type": "boolean"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "budgetMin": {
            "$ref": "#/components/schemas/RequestBudgetMoney"
          },
          "budgetMax": {
            "$ref": "#/components/schemas/RequestBudgetMoney"
          },
          "usage": {
            "type": "string",
            "enum": [
              "personal",
              "commercial",
              "editorial",
              "extended"
            ],
            "example": "personal"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "quoted",
              "booked",
              "closed",
              "cancelled"
            ]
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "clientId",
          "title",
          "category",
          "description",
          "eventDate",
          "dateFlexible",
          "location",
          "address",
          "budgetMin",
          "budgetMax",
          "usage",
          "status",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "line2": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "postalCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          }
        },
        "required": [
          "line1",
          "city",
          "postalCode",
          "countryCode"
        ],
        "additionalProperties": false
      },
      "RequestBudgetMoney": {
        "type": "object",
        "properties": {
          "amountCents": {
            "type": "integer",
            "minimum": 0,
            "maximum": 99999999
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code",
            "example": "EUR"
          }
        },
        "required": [
          "amountCents",
          "currency"
        ],
        "additionalProperties": false
      },
      "RequestSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "category": {
            "type": "string",
            "enum": [
              "wedding",
              "portrait",
              "event",
              "product",
              "real-estate",
              "corporate"
            ],
            "example": "wedding"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "eventDate": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "dateFlexible": {
            "type": "boolean"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "budgetMin": {
            "$ref": "#/components/schemas/RequestBudgetMoney"
          },
          "budgetMax": {
            "$ref": "#/components/schemas/RequestBudgetMoney"
          },
          "usage": {
            "type": "string",
            "enum": [
              "personal",
              "commercial",
              "editorial",
              "extended"
            ],
            "example": "personal"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "quoted",
              "booked",
              "closed",
              "cancelled"
            ]
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "hasQuoted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "title",
          "category",
          "description",
          "eventDate",
          "dateFlexible",
          "city",
          "countryCode",
          "location",
          "budgetMin",
          "budgetMax",
          "usage",
          "status",
          "expiresAt",
          "hasQuoted"
        ],
        "additionalProperties": false
      },
      "Quote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "requestId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "productId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "productTierId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            },
            "minItems": 1,
            "maxItems": 50
          },
          "subtotal": {
            "$ref": "#/components/schemas/Money"
          },
          "platformFee": {
            "$ref": "#/components/schemas/Money"
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "accepted",
              "declined",
              "expired",
              "withdrawn"
            ]
          }
        },
        "required": [
          "id",
          "requestId",
          "photographerId",
          "clientId",
          "productId",
          "productTierId",
          "lineItems",
          "subtotal",
          "platformFee",
          "total",
          "validUntil",
          "message",
          "status"
        ],
        "additionalProperties": false
      },
      "LineItem": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "qty": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          "unitCents": {
            "type": "integer",
            "minimum": 0,
            "maximum": 99999999
          }
        },
        "required": [
          "label",
          "qty",
          "unitCents"
        ],
        "additionalProperties": false
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "quoteId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_payment",
              "paid_held",
              "in_progress",
              "delivered",
              "released",
              "refunded",
              "disputed",
              "cancelled"
            ]
          },
          "releaseDueAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "deliveredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "releasedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "cancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "cancellationReason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        },
        "required": [
          "id",
          "quoteId",
          "clientId",
          "photographerId",
          "scheduledAt",
          "location",
          "total",
          "status",
          "releaseDueAt",
          "deliveredAt",
          "releasedAt",
          "cancelledAt",
          "cancellationReason"
        ],
        "additionalProperties": false
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "bookingId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "message": {
            "type": "string",
            "maxLength": 2000
          },
          "fileIds": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            }
          },
          "externalLink": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "acceptedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "bookingId",
          "message",
          "fileIds",
          "externalLink",
          "deliveredAt",
          "acceptedAt"
        ],
        "additionalProperties": false
      },
      "BookingPaymentIntent": {
        "type": "object",
        "properties": {
          "clientSecret": {
            "type": "string",
            "example": "pi_3P_secret_abc123"
          }
        },
        "required": [
          "clientSecret"
        ],
        "additionalProperties": false
      },
      "CreateUploadResponse": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://storage.photoo.lu/uploads/abc123"
          },
          "headers": {
            "type": "object",
            "properties": {
              "Content-Type": {
                "type": "string",
                "example": "image/jpeg"
              },
              "Content-Length": {
                "type": "string",
                "example": "1024"
              }
            },
            "required": [
              "Content-Type",
              "Content-Length"
            ],
            "additionalProperties": false,
            "description": "Headers the client must send exactly as given on the presigned PUT"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "uploadId",
          "url",
          "headers",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "Upload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "portfolio",
              "avatar",
              "cover",
              "chat_attachment",
              "verification_document",
              "delivery_file"
            ],
            "example": "portfolio"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_upload",
              "uploaded",
              "scanning",
              "clean",
              "infected",
              "failed",
              "processed"
            ],
            "example": "processed"
          },
          "mimeType": {
            "type": "string",
            "minLength": 3,
            "maxLength": 127,
            "pattern": "^[a-z0-9.+-]+\\/[a-z0-9.+-]+$",
            "example": "image/jpeg"
          },
          "declaredSizeBytes": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "actualSizeBytes": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "virusScanStatus": {
            "type": "string",
            "enum": [
              "pending",
              "clean",
              "infected",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "purpose",
          "status",
          "mimeType",
          "declaredSizeBytes",
          "actualSizeBytes",
          "virusScanStatus",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "UploadDownload": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://storage.photoo.lu/uploads/abc123?signature=xyz"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "url",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "type": {
            "type": "string",
            "enum": [
              "request",
              "quote",
              "booking",
              "direct"
            ]
          },
          "subjectId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationParticipant"
            },
            "minItems": 1
          },
          "lastMessageAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "lastMessagePreview": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 4000
          },
          "unreadCount": {
            "type": "integer",
            "minimum": 0
          },
          "archivedByMe": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "type",
          "subjectId",
          "participants",
          "lastMessageAt",
          "lastMessagePreview",
          "unreadCount",
          "archivedByMe"
        ],
        "additionalProperties": false
      },
      "ConversationParticipant": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "lastReadAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "userId",
          "lastReadAt"
        ],
        "additionalProperties": false
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "senderId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "body": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 4000
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageAttachment"
            }
          },
          "editedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "conversationId",
          "senderId",
          "body",
          "attachments",
          "editedAt",
          "deletedAt",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "MessageAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "kind": {
            "type": "string",
            "enum": [
              "image",
              "pdf",
              "other"
            ]
          }
        },
        "required": [
          "id",
          "kind"
        ],
        "additionalProperties": false
      },
      "VerificationRequirements": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequiredDocument"
            }
          }
        },
        "required": [
          "countryCode",
          "documents"
        ],
        "additionalProperties": false
      },
      "RequiredDocument": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60,
            "example": "id_card"
          },
          "label": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string",
                "minLength": 1
              },
              "fr": {
                "type": "string",
                "minLength": 1
              },
              "de": {
                "type": "string",
                "minLength": 1
              },
              "pt": {
                "type": "string",
                "minLength": 1
              },
              "es": {
                "type": "string",
                "minLength": 1
              }
            },
            "description": "Text keyed by supported locale, only translated locales present",
            "example": {
              "en": "Wedding and portrait photographer in Luxembourg"
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          },
          "acceptedMimeTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 3,
              "maxLength": 127,
              "pattern": "^[a-z0-9.+-]+\\/[a-z0-9.+-]+$",
              "example": "image/jpeg"
            },
            "minItems": 1
          }
        },
        "required": [
          "key",
          "label",
          "description",
          "acceptedMimeTypes"
        ],
        "additionalProperties": false
      },
      "VerificationCase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "submitted",
              "in_review",
              "approved",
              "rejected",
              "expired"
            ]
          },
          "businessName": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "vatNumber": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 40
          },
          "businessRegistrationNumber": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 60
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationDocument"
            }
          },
          "submittedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "decidedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "rejectionReason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        },
        "required": [
          "id",
          "countryCode",
          "status",
          "businessName",
          "vatNumber",
          "businessRegistrationNumber",
          "documents",
          "submittedAt",
          "decidedAt",
          "rejectionReason"
        ],
        "additionalProperties": false
      },
      "VerificationDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "documentKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60,
            "example": "id_card"
          },
          "mimeType": {
            "type": "string",
            "minLength": 3,
            "maxLength": 127,
            "pattern": "^[a-z0-9.+-]+\\/[a-z0-9.+-]+$",
            "example": "image/jpeg"
          },
          "virusScanStatus": {
            "type": "string",
            "enum": [
              "pending",
              "clean",
              "infected",
              "failed"
            ]
          },
          "uploadedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "documentKey",
          "mimeType",
          "virusScanStatus",
          "uploadedAt"
        ],
        "additionalProperties": false
      },
      "AdminVerificationCase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "LU"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "submitted",
              "in_review",
              "approved",
              "rejected",
              "expired"
            ]
          },
          "businessName": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "vatNumber": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 40
          },
          "businessRegistrationNumber": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 60
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationDocument"
            }
          },
          "submittedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "decidedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "rejectionReason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "decidedByAdminId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        },
        "required": [
          "id",
          "countryCode",
          "status",
          "businessName",
          "vatNumber",
          "businessRegistrationNumber",
          "documents",
          "submittedAt",
          "decidedAt",
          "rejectionReason",
          "userId",
          "decidedByAdminId"
        ],
        "additionalProperties": false
      },
      "AdminProvenanceCheck": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "portfolioImageId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "aiScore": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1
          },
          "aiVendor": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 60
          },
          "reverseMatches": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "c2paValid": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "exifCamera": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 120
          },
          "exifCapturedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "score": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1
          },
          "verdict": {
            "type": "string",
            "enum": [
              "pass",
              "review",
              "fail"
            ]
          },
          "reviewedByAdminId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "reviewedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        },
        "required": [
          "id",
          "portfolioImageId",
          "aiScore",
          "aiVendor",
          "reverseMatches",
          "c2paValid",
          "exifCamera",
          "exifCapturedAt",
          "score",
          "verdict",
          "reviewedByAdminId",
          "reviewedAt",
          "note"
        ],
        "additionalProperties": false
      },
      "AdminBooking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "quoteId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "photographerId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_payment",
              "paid_held",
              "in_progress",
              "delivered",
              "released",
              "refunded",
              "disputed",
              "cancelled"
            ]
          },
          "releaseDueAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "deliveredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "releasedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "cancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "cancellationReason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "paymentIntentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "chargeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "transferId": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "quoteId",
          "clientId",
          "photographerId",
          "scheduledAt",
          "location",
          "total",
          "status",
          "releaseDueAt",
          "deliveredAt",
          "releasedAt",
          "cancelledAt",
          "cancellationReason",
          "paymentIntentId",
          "chargeId",
          "transferId"
        ],
        "additionalProperties": false
      },
      "AdminReport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "reporterId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "targetType": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60,
            "example": "portfolio_image"
          },
          "targetId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "resolved",
              "dismissed"
            ]
          },
          "adminId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "resolution": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        },
        "required": [
          "id",
          "reporterId",
          "targetType",
          "targetId",
          "reason",
          "status",
          "adminId",
          "resolution"
        ],
        "additionalProperties": false
      },
      "PlatformSettings": {
        "type": "object",
        "properties": {
          "feePercent": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "autoReleaseDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 60
          }
        },
        "required": [
          "feePercent",
          "autoReleaseDays"
        ],
        "additionalProperties": false
      },
      "AdminAuditLogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "actorId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "action": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "targetType": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "targetId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "before": {},
          "after": {},
          "ip": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 64
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "actorId",
          "action",
          "targetType",
          "targetId",
          "ip",
          "occurredAt"
        ],
        "additionalProperties": false
      },
      "DataRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "type": {
            "type": "string",
            "enum": [
              "export",
              "delete"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "requestedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "requestedAt",
          "completedAt"
        ],
        "additionalProperties": false
      },
      "ConsentRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "analytics",
              "ads",
              "marketing"
            ],
            "example": "analytics"
          },
          "granted": {
            "type": "boolean"
          },
          "policyVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20
          },
          "recordedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "purpose",
          "granted",
          "policyVersion",
          "recordedAt"
        ],
        "additionalProperties": false
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "type": {
            "type": "string",
            "enum": [
              "quote_received",
              "quote_accepted",
              "quote_declined",
              "quote_withdrawn",
              "quote_expired",
              "message_received"
            ],
            "example": "quote_received"
          },
          "payload": {
            "$ref": "#/components/schemas/NotificationPayload"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "push",
                "in_app"
              ],
              "example": "email"
            },
            "minItems": 1
          },
          "readAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "type",
          "payload",
          "channels",
          "readAt",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "NotificationPayload": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "requestTitle": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          },
          "counterpartName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        },
        "additionalProperties": false
      },
      "UnreadCount": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "count"
        ],
        "additionalProperties": false
      },
      "MarkAllNotificationsReadResult": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "count"
        ],
        "additionalProperties": false
      },
      "NotificationPreferences": {
        "type": "object",
        "properties": {
          "preferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationPreferenceEntry"
            }
          }
        },
        "required": [
          "preferences"
        ],
        "additionalProperties": false
      },
      "NotificationPreferenceEntry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "quote_received",
              "quote_accepted",
              "quote_declined",
              "quote_withdrawn",
              "quote_expired",
              "message_received"
            ],
            "example": "quote_received"
          },
          "channel": {
            "type": "string",
            "enum": [
              "email",
              "push",
              "in_app"
            ],
            "example": "email"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "channel",
          "enabled"
        ],
        "additionalProperties": false
      },
      "Device": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android",
              "web"
            ],
            "example": "ios"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time",
            "example": "2026-09-16T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "platform",
          "lastSeenAt"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Liveness check",
        "tags": [
          "system"
        ],
        "responses": {
          "200": {
            "description": "The service process is running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "summary": "Readiness check: database and Redis are reachable",
        "tags": [
          "system"
        ],
        "responses": {
          "200": {
            "description": "The service and its dependencies are reachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyResponse"
                }
              }
            }
          },
          "503": {
            "description": "A dependency is unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-up": {
      "post": {
        "summary": "Create an account",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "client@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 256,
                    "example": "correct horse battery staple"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "client",
                        "photographer",
                        "professional"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 3,
                    "example": [
                      "client"
                    ]
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "fr",
                      "de",
                      "pt",
                      "es"
                    ],
                    "description": "BCP 47 locale",
                    "example": "en"
                  }
                },
                "required": [
                  "email",
                  "password",
                  "roles",
                  "locale"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created, verification email sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-in": {
      "post": {
        "summary": "Sign in with email and password",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "client@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "example": "correct horse battery staple"
                  }
                },
                "required": [
                  "email",
                  "password"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "session": {
                          "$ref": "#/components/schemas/AuthSession"
                        }
                      },
                      "required": [
                        "user",
                        "session"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "twoFactorRequired": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "twoFactorRequired"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-in/totp": {
      "post": {
        "summary": "Complete sign-in for a TOTP-enabled account",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "pattern": "^\\d{6}$",
                    "example": "123456"
                  },
                  "backupCode": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "session": {
                      "$ref": "#/components/schemas/AuthSession"
                    }
                  },
                  "required": [
                    "user",
                    "session"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sessions/revoke-all": {
      "post": {
        "summary": "Sign out of every session (log out everywhere)",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "All sessions revoked"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-out": {
      "post": {
        "summary": "Sign out of the current session",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Signed out"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/session": {
      "get": {
        "summary": "Get the current session user",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current session user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/verify-email": {
      "post": {
        "summary": "Confirm an email verification token",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "example": "a1b2c3d4e5f6"
                  }
                },
                "required": [
                  "token"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password-reset/request": {
      "post": {
        "summary": "Request a password reset email",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "client@example.com"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reset email sent if the account exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "If an account exists, a reset email has been sent."
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password-reset/confirm": {
      "post": {
        "summary": "Confirm a password reset with a new password",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "example": "a1b2c3d4e5f6"
                  },
                  "password": {
                    "type": "string",
[...]
