POSTGRES_USER=photoo
POSTGRES_PASSWORD=photoo_dev_password
POSTGRES_DB=photoo
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=photoo_dev
MINIO_ROOT_PASSWORD=photoo_dev_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

CLAMAV_PORT=3310
